._22Msk /*normal message*/,
._2z0p1 /*Gallery link preview*/,
.EtBAv ._2ad1k  /*blue info bar*/
{
  filter: blur(8px) grayscale(1);
  transition-delay: 0s;
}
._22Msk /*normal message more padding*/
{
  padding-right: 40px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.jnl3jror /*image*/,
._1t37P /*video*/,
.Hcx4J /*file*/,
._35n_s /*voice message*/,
._1O7Qw /*position*/,
.dld5k21c /*live location*/,
._1tfap /*contact share*/,
.lsgDP /*multiple contact share*/,
._1FpDI /*GIF*/,
._3BGWx /*Sticker*/,
._3OC33 /*sticker contact*/
{
  filter: blur(20px) grayscale(1);
  transition-delay: 0s;
}

._22Msk:hover /*normal message*/,
._2z0p1:hover /*Gallery link preview*/,
.EtBAv ._2ad1k:hover /*blue info bar*/,
.jnl3jror:hover /*image*/,
._1t37P:hover /*video*/,
.Hcx4J:hover /*file*/,
._35n_s:hover /*voice message*/,
._1O7Qw:hover /*position*/,
.dld5k21c:hover /*live location*/,
._1tfap:hover /*contact share*/,
.lsgDP:hover /*multiple contact share*/,
._1FpDI:hover /*GIF*/,
._3BGWx:hover /*Sticker*/,
._3OC33:hover /*sticker contact*/
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}

.tvf2evcx .i0jNr /* office files*/
{
  filter: blur(12px) grayscale(1);
  transition-delay: 0s;
}

.tvf2evcx .i0jNr:hover
{
  filter: blur(0) grayscale(0);
  transition-delay: 0.3s;
}

._2JUrU /*set pseudo background on sticker*/
{
  background-color: #dcf8c6 !important;
  border-radius: 7.5px !important;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13) !important;
}
